<form id="update-form" data-id="{{post.id}}">
  <input id="title" type="text" value="{{post.title}}" />
  <textarea id="content">{{post.content}}</textarea>
  <button type="submit">Update</button>
</form>
<script src="/js/dashboard.js"></script>
