{{#if blogs.length}}
  {{#each blogs}}
  <article>
    <h2>{{this.title}}</h2>
    <p>Posted by: {{this.User.username}}</p>
    <p>{{this.content}}</p>
  </article>
  {{/each}}
{{else}}
  <p>No blog posts available.</p>
{{/if}}